<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Davydova_fabrika.Properties.Settings.davydovaConnectionString"
            connectionString="Data Source=DESKTOP-4BGD6JJ;Initial Catalog=mebelnayafabrika_davydova;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>